html, body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #bbbfc2;
    border: 0;
    padding: 0;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

.box {
    background-color: #ffffff;
}

.active {
    background: #ffffff !important;
}

header img {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}

.header-text {
    position: absolute;
    float: right;
    top: 50px;
    right: 70px;
    text-align: right;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.header-text h1{
    font-size: 32px;
    font-weight: 300;
}

.header-text p {
    font-size: 50px;
    font-weight: bold;
    margin: -15px 0 0 0;
    line-height: 44px;
}

.side-nav {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
    clear: both;
    border-top: 1px solid #ffffff; 
    height: 60px;                
    width: 200px;
    padding: 10px;
    font-size: 18px;
background: linear-gradient(to right, #ebeced 0%,#ecf0f1 97%,#d1d5d6 100%);
}

.nav-item:hover {
    background: #ffffff;
}

.nav-item > a:hover {
    background-color: #ffffff;
    font-weight: 600;
    color: #36abe1;
}

.nav-item > a {
    text-decoration: none;
    color: #9ba0a4;
}

.nav-item > a > img {
    vertical-align: middle;
    margin-right: 9px;
    padding: 15px;
}

.container {
    position: relative;
    margin: 0 70px 40px 350px;
    height: 567px;
}

tr,td {
    padding: 5px;
}

.container p{
    margin-left: 6px;
    padding-left: 5px;
}

.baby-step-heading {
    display: flex;
    align-items: center;
}

#main-heading {
    font-size: 30px;
    font-weight: bold;
    color: #36abe1;
    line-height: 20px;
}

#sub-heading {
    font-size: 18px;
    font-weight: 400;
    color: #5c6366;
    line-height: 20px;
}

#img-heading img.resize {
    height: 40px;
}

#baby-step-body {
    font-size: 13px;
    line-height: 18px;
    color: #65686f;
}
#dynamic-element {
    margin-top: 0px;
}

.dynamic-element-name {
    color: #6fbee7;
    font-size: 13px;
}

.dynamic-element-other {
    color: #65686f;
    font-size: 13px;
}