html, body {
    margin: 0;
    background-color: #bbbfc2;
    border: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    background-color: #fff;
    max-width: 992px;
    margin: 0 auto;
    position: relative;
}

header img {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}

.header-text {
    position: absolute;
    float: right;
    top: 50px;
    right: 70px;
    text-align: right;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.header-text h1 {
    font-size: 32px;
    font-weight: 300;
}

.header-text p {
    font-size: 50px;
    font-weight: bold;
    margin: -15px 0 0 0;
    line-height: 44px;
}

.nav-bar {
    width: 200px;
    position: relative;
}

.side-nav {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
}

.ganja {
    position: absolute;
    display: block;
    width: 270px;
    height: 60px;
    background-color: #ffffff;
    z-index: 100;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
    clear: both;
    border-top: 1px solid #ffffff;
    height: 60px;
    width: 270px;
    padding: 10px;
    font-size: 18px;
    background: linear-gradient(to right, #ebeced 0%,#ecf0f1 97%,#d1d5d6 100%);
}

.nav-item > a {
    text-decoration: none;
    color: #9ba0a4;
    z-index: 200;
}

.nav-item:hover {
    /*background: #ffffff;
    font-weight: 600;*/
    cursor: pointer;
}

/*.nav-item:hover > a {
    color: #36abe1;
}*/

.nav-item.active {
    /*background: #ffffff;*/
    font-weight: 600;
    cursor: pointer;
}

.nav-item.active > a {
    color: #36abe1;
}

.nav-item > a > img {
    vertical-align: middle;
    margin-right: 9px;
    padding: 15px;
}

.baby-step {
    position: relative;
    margin: 0 70px 40px 350px;
    height: 567px;
    width: auto;
    overflow: hidden;
}

.container {
    position: static;
    width: 100%;
    height: 100%;
}

.container p {
    margin-left: 6px;
    padding-left: 5px;
}

.baby-step-heading {
    display: flex;
    align-items: center;
}

.main-heading {
    font-size: 30px;
    font-weight: 600;
    color: #36abe1;
    line-height: 20px;
    display: block;
    margin-bottom: 7px;
}

.sub-heading {
    font-size: 18px;
    font-weight: 400;
    color: #5c6366;
    line-height: 20px;
    margin-top: 5px;
}

.img-heading {
    margin-right: 10px;
}

.img-heading img.resize {
    height: 40px;
}

.baby-step-body {
    font-size: 13px;
    line-height: 18px;
    margin-left: 0px;
    margin-top: 24px;
    margin-bottom: 0px;
    color: #65686f;
}

.dynamic-element {
    margin-top: 40px;
    margin-left: 0px;
}

.dynamic-element-name {
    color: #6fbee7;
    font-size: 13px;
}

.dynamic-element-other {
    color: #65686f;
    font-size: 13px;
}